.container {
  margin: 20px auto;
  border-style: solid;
  border-width: 1px;
  border-color: #DDD;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px; }

#header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DDD; }
  #header a {
    text-align: center;
    text-decoration: none;
    line-height: 100px; }

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#slideshow {
  margin: 20px auto;
  position: relative;
  height: 140px;
  width: 600px;
  background: url(/files/all.jpg); }

#content {
  padding: 40px; }

#footer {
  text-align: center;
  margin: 15px 0; }
