@mixin all_rounded($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

.container {
    margin: 20px auto;
    border: {
        style: solid;
        width: 1px;
        color: #DDD;
    }
    @include all_rounded(25px);
}

$logo-height: 100px;
#header {
    a {
        text-align: center;
        text-decoration: none;
        line-height: $logo-height;
    }
    border: {
        bottom: {
            style: solid;
            width: 1px;
            color: #DDD;
        }
    }
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#slideshow {
    margin: 20px auto;
    position: relative;
    height: 140px;
    width: 600px;
    background: url(/files/all.jpg);
}

#content {
    padding: 40px;
}

#footer {
    text-align: center;
    margin: 15px 0;
}
