@import "partials/base";
@import "compass/css3/border-radius";
@import "compass/typography/links/link-colors";

body {
    background-color: $body-bg-color;
}

.container {
    @include blueprint(true);
    @include container;
    @include border-radius(15px);
    border: 1px solid $container-border-color;
    margin: 20px auto;
    background-color: $container-bg-color;
}

#header {
    @include column(24, true);
}

#logo {
    @include column(24, true);
    height: $logo-height;
    background-color: $logo-bg-color;
    a {
        position: relative;
        top: 15px;
        left: 25px;
        @include link-colors($logo-text-color);
        text-decoration: none;
        font-size: 50px;
        font-family: Georgia;
    }
}

#navbar {
    @include column(24, true);
    border-top: 1px solid $navbar-border-color;
    border-bottom: 1px solid $navbar-border-color;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: left;
        li {
            float: left;
            background-color: $navbar-bg-color;
            a {
                @include column(4);
                @include border;
                &.last {
                    @include column(4, true);
                    border: none;
                    padding: 0;
                }
                line-height: $navbar-height;
                text-align: center;
                text-decoration: none;
                font-weight: bold;
                @include link-colors(#FFFFFF, $orange);
            }
        }
    }
}

@mixin banner() {
    margin: 20px 20px 0 20px;
    position: relative;
    height: 380px;
    width: 910px;
}

#banner {
    @include banner();
}

#slideshow {
    @extend #banner;
}

#main {
    @include column(24, true);
    .content {
        padding: 15px 25px;
        float: left;
    }
    .events {
        padding: 15px 10px;
        float: left;
    }
}

.left {
    @include column(16);
}

.sidebar {
    @include column(8, true);
    margin: 20px 0;
    .bio {
        margin-right: 30px;
    }
}

#footer {
    @include column(24);
    @include quiet;
    text-align: center;
    margin: 15px 0;
}

#repertoire {
    height: 250px;
    overflow: scroll;
}

.col {
    @include column(8);
}
