/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/members.scss */
.hidden {
  display: none;
}

/* line 11, ../sass/members.scss */
.section {
  float: left;
}
/* line 13, ../sass/members.scss */
.section h3 {
  margin-bottom: 0;
  margin-top: 1em;
}

/* line 19, ../sass/members.scss */
a.profile {
  float: left;
  text-decoration: none;
}

/* line 24, ../sass/members.scss */
.name {
  text-align: center;
  color: black;
}

/* line 29, ../sass/members.scss */
.image {
  width: 150px;
  height: 165px;
  margin: 5px;
  border: 1px solid #000000;
}

/* line 39, ../sass/members.scss */
#miyuki .hidden {
  background: url("/images/members/current/miyuki-b.jpg");
}
/* line 42, ../sass/members.scss */
#miyuki .image {
  background: url("/images/members/current/miyuki.jpg");
}
/* line 46, ../sass/members.scss */
#miyuki:hover .image {
  background: url("/images/members/current/miyuki-b.jpg");
}

/* line 53, ../sass/members.scss */
#anna .hidden {
  background: url("/images/members/current/anna-b.jpg");
}
/* line 56, ../sass/members.scss */
#anna .image {
  background: url("/images/members/current/anna.jpg");
}
/* line 60, ../sass/members.scss */
#anna:hover .image {
  background: url("/images/members/current/anna-b.jpg");
}

/* line 67, ../sass/members.scss */
#christina .hidden {
  background: url("/images/members/current/christina-b.jpg");
}
/* line 70, ../sass/members.scss */
#christina .image {
  background: url("/images/members/current/christina.jpg");
}
/* line 74, ../sass/members.scss */
#christina:hover .image {
  background: url("/images/members/current/christina-b.jpg");
}

/* line 81, ../sass/members.scss */
#marylou .hidden {
  background: url("/images/members/current/marylou-b.jpg");
}
/* line 84, ../sass/members.scss */
#marylou .image {
  background: url("/images/members/current/marylou.jpg");
}
/* line 88, ../sass/members.scss */
#marylou:hover .image {
  background: url("/images/members/current/marylou-b.jpg");
}

/* line 97, ../sass/members.scss */
#cara .hidden {
  background: url("/images/members/current/cara-b.jpg");
}
/* line 100, ../sass/members.scss */
#cara .image {
  background: url("/images/members/current/cara.jpg");
}
/* line 104, ../sass/members.scss */
#cara:hover .image {
  background: url("/images/members/current/cara-b.jpg");
}

/* line 111, ../sass/members.scss */
#sarahanne .hidden {
  background: url("/images/members/current/sarahanne-b.jpg");
}
/* line 114, ../sass/members.scss */
#sarahanne .image {
  background: url("/images/members/current/sarahanne.jpg");
}
/* line 118, ../sass/members.scss */
#sarahanne:hover .image {
  background: url("/images/members/current/sarahanne-b.jpg");
}

/* line 125, ../sass/members.scss */
#desiree .hidden {
  background: url("/images/members/current/desiree-b.jpg");
}
/* line 128, ../sass/members.scss */
#desiree .image {
  background: url("/images/members/current/desiree.jpg");
}
/* line 132, ../sass/members.scss */
#desiree:hover .image {
  background: url("/images/members/current/desiree-b.jpg");
}

/* line 139, ../sass/members.scss */
#katherine .hidden {
  background: url("/images/members/current/katherine-b.jpg");
}
/* line 142, ../sass/members.scss */
#katherine .image {
  background: url("/images/members/current/katherine.jpg");
}
/* line 146, ../sass/members.scss */
#katherine:hover .image {
  background: url("/images/members/current/katherine-b.jpg");
}

/* line 154, ../sass/members.scss */
#tingfung .hidden {
  background: url("/images/members/current/tingfung-b.jpg");
}
/* line 157, ../sass/members.scss */
#tingfung .image {
  background: url("/images/members/current/tingfung.jpg");
}
/* line 161, ../sass/members.scss */
#tingfung:hover .image {
  background: url("/images/members/current/tingfung-b.jpg");
}

/* line 168, ../sass/members.scss */
#michael .hidden {
  background: url("/images/members/current/michael-b.jpg");
}
/* line 171, ../sass/members.scss */
#michael .image {
  background: url("/images/members/current/michael.jpg");
}
/* line 175, ../sass/members.scss */
#michael:hover .image {
  background: url("/images/members/current/michael-b.jpg");
}

/* line 182, ../sass/members.scss */
#dk .hidden {
  background: url("/images/members/current/dk-b.jpg");
}
/* line 185, ../sass/members.scss */
#dk .image {
  background: url("/images/members/current/dk.jpg");
}
/* line 189, ../sass/members.scss */
#dk:hover .image {
  background: url("/images/members/current/dk-b.jpg");
}

/* line 196, ../sass/members.scss */
#torin .hidden {
  background: url("/images/members/current/torin-b.jpg");
}
/* line 199, ../sass/members.scss */
#torin .image {
  background: url("/images/members/current/torin.jpg");
}
/* line 203, ../sass/members.scss */
#torin:hover .image {
  background: url("/images/members/current/torin-b.jpg");
}

/* line 211, ../sass/members.scss */
#peter .hidden {
  background: url("/images/members/current/peter-b.jpg");
}
/* line 214, ../sass/members.scss */
#peter .image {
  background: url("/images/members/current/peter.jpg");
}
/* line 218, ../sass/members.scss */
#peter:hover .image {
  background: url("/images/members/current/peter-b.jpg");
}

/* line 225, ../sass/members.scss */
#dj .hidden {
  background: url("/images/members/current/dj-b.jpg");
}
/* line 228, ../sass/members.scss */
#dj .image {
  background: url("/images/members/current/dj.jpg");
}
/* line 232, ../sass/members.scss */
#dj:hover .image {
  background: url("/images/members/current/dj-b.jpg");
}

/* line 239, ../sass/members.scss */
#teddy .hidden {
  background: url("/images/members/current/teddy-b.jpg");
}
/* line 242, ../sass/members.scss */
#teddy .image {
  background: url("/images/members/current/teddy.jpg");
}
/* line 246, ../sass/members.scss */
#teddy:hover .image {
  background: url("/images/members/current/teddy-b.jpg");
}

/* line 253, ../sass/members.scss */
#jonah .hidden {
  background: url("/images/members/current/jonah-b.jpg");
}
/* line 256, ../sass/members.scss */
#jonah .image {
  background: url("/images/members/current/jonah.jpg");
}
/* line 260, ../sass/members.scss */
#jonah:hover .image {
  background: url("/images/members/current/jonah-b.jpg");
}
