/* line 5, ../../../../.rbenv/versions/2.3.2/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.3.2/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.3.2/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.3.2/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.3.2/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.3.2/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.3.2/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.3.2/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.3.2/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../_sass/members.scss */
.hidden {
  display: none;
}

/* line 11, ../_sass/members.scss */
.section {
  width: 900px;
  float: left;
}
/* line 14, ../_sass/members.scss */
.section h3 {
  margin-bottom: 0;
  margin-top: 1em;
}

/* line 20, ../_sass/members.scss */
a#alumni {
  float: right;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  width: 190px;
  background: gray;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: white;
}
/* line 49, ../_sass/partials/_base.scss */
a#alumni:hover {
  background: #9a9a9a;
}

/* line 25, ../_sass/members.scss */
a.profile {
  float: left;
  text-decoration: none;
}

/* line 30, ../_sass/members.scss */
.name {
  text-align: center;
  color: black;
}

/* line 35, ../_sass/members.scss */
.image {
  width: 150px;
  height: 165px;
  margin: 5px;
  border: 1px solid #000000;
}

/* line 45, ../_sass/members.scss */
#anna .hidden {
  background: url('../images/members/current/anna-b.jpg?1481981573');
}
/* line 48, ../_sass/members.scss */
#anna .image {
  background: url('../images/members/current/anna.jpg?1481981573');
}
/* line 52, ../_sass/members.scss */
#anna:hover .image {
  background: url('../images/members/current/anna-b.jpg?1481981573');
}

/* line 59, ../_sass/members.scss */
#christina .hidden {
  background: url('../images/members/current/christina-b.jpg?1481981573');
}
/* line 62, ../_sass/members.scss */
#christina .image {
  background: url('../images/members/current/christina.jpg?1481981573');
}
/* line 66, ../_sass/members.scss */
#christina:hover .image {
  background: url('../images/members/current/christina-b.jpg?1481981573');
}

/* line 73, ../_sass/members.scss */
#marylou .hidden {
  background: url('../images/members/current/marylou-b.jpg?1481981573');
}
/* line 76, ../_sass/members.scss */
#marylou .image {
  background: url('../images/members/current/marylou.jpg?1481981573');
}
/* line 80, ../_sass/members.scss */
#marylou:hover .image {
  background: url('../images/members/current/marylou-b.jpg?1481981573');
}

/* line 86, ../_sass/members.scss */
#caroline .hidden {
  background: url('../images/members/current/caroline-b.jpg?1481981573');
}
/* line 89, ../_sass/members.scss */
#caroline .image {
  background: url('../images/members/current/caroline.jpg?1481981573');
}
/* line 93, ../_sass/members.scss */
#caroline:hover .image {
  background: url('../images/members/current/caroline-b.jpg?1481981573');
}

/* line 100, ../_sass/members.scss */
#erika .hidden {
  background: url('../images/members/current/erika-b.jpg?1481981573');
}
/* line 103, ../_sass/members.scss */
#erika .image {
  background: url('../images/members/current/erika.jpg?1481981573');
}
/* line 107, ../_sass/members.scss */
#erika:hover .image {
  background: url('../images/members/current/erika-b.jpg?1481981573');
}

/* line 116, ../_sass/members.scss */
#sarahanne .hidden {
  background: url('../images/members/current/sarahanne-b.jpg?1481981573');
}
/* line 119, ../_sass/members.scss */
#sarahanne .image {
  background: url('../images/members/current/sarahanne.jpg?1481981573');
}
/* line 123, ../_sass/members.scss */
#sarahanne:hover .image {
  background: url('../images/members/current/sarahanne-b.jpg?1481981573');
}

/* line 130, ../_sass/members.scss */
#desiree .hidden {
  background: url('../images/members/current/desiree-b.jpg?1481981573');
}
/* line 133, ../_sass/members.scss */
#desiree .image {
  background: url('../images/members/current/desiree.jpg?1481981573');
}
/* line 137, ../_sass/members.scss */
#desiree:hover .image {
  background: url('../images/members/current/desiree-b.jpg?1481981573');
}

/* line 144, ../_sass/members.scss */
#katherine .hidden {
  background: url('../images/members/current/katherine-b.jpg?1481981573');
}
/* line 147, ../_sass/members.scss */
#katherine .image {
  background: url('../images/members/current/katherine.jpg?1481981573');
}
/* line 151, ../_sass/members.scss */
#katherine:hover .image {
  background: url('../images/members/current/katherine-b.jpg?1481981573');
}

/* line 158, ../_sass/members.scss */
#viv .hidden {
  background: url('../images/members/current/viv-b.jpg?1481981573');
}
/* line 161, ../_sass/members.scss */
#viv .image {
  background: url('../images/members/current/viv.jpg?1481981573');
}
/* line 165, ../_sass/members.scss */
#viv:hover .image {
  background: url('../images/members/current/viv-b.jpg?1481981573');
}

/* line 172, ../_sass/members.scss */
#michaela .hidden {
  background: url('../images/members/current/michaela-b.jpg?1481981573');
}
/* line 175, ../_sass/members.scss */
#michaela .image {
  background: url('../images/members/current/michaela.jpg?1481981573');
}
/* line 179, ../_sass/members.scss */
#michaela:hover .image {
  background: url('../images/members/current/michaela-b.jpg?1481981573');
}

/* line 188, ../_sass/members.scss */
#michael .hidden {
  background: url('../images/members/current/michael-b.jpg?1481981573');
}
/* line 191, ../_sass/members.scss */
#michael .image {
  background: url('../images/members/current/michael.jpg?1481981573');
}
/* line 195, ../_sass/members.scss */
#michael:hover .image {
  background: url('../images/members/current/michael-b.jpg?1481981573');
}

/* line 202, ../_sass/members.scss */
#dk .hidden {
  background: url('../images/members/current/dk-b.jpg?1481981573');
}
/* line 205, ../_sass/members.scss */
#dk .image {
  background: url('../images/members/current/dk.jpg?1481981573');
}
/* line 209, ../_sass/members.scss */
#dk:hover .image {
  background: url('../images/members/current/dk-b.jpg?1481981573');
}

/* line 216, ../_sass/members.scss */
#torin .hidden {
  background: url('../images/members/current/torin-b.jpg?1481981573');
}
/* line 219, ../_sass/members.scss */
#torin .image {
  background: url('../images/members/current/torin.jpg?1481981573');
}
/* line 223, ../_sass/members.scss */
#torin:hover .image {
  background: url('../images/members/current/torin-b.jpg?1481981573');
}

/* line 230, ../_sass/members.scss */
#brian .hidden {
  background: url('../images/members/current/brian-b.jpg?1481981573');
}
/* line 233, ../_sass/members.scss */
#brian .image {
  background: url('../images/members/current/brian.jpg?1481981573');
}
/* line 237, ../_sass/members.scss */
#brian:hover .image {
  background: url('../images/members/current/brian-b.jpg?1481981573');
}

/* line 243, ../_sass/members.scss */
#sung .hidden {
  background: url('../images/members/current/sung-b.jpg?1481981573');
}
/* line 246, ../_sass/members.scss */
#sung .image {
  background: url('../images/members/current/sung.jpg?1481981573');
}
/* line 250, ../_sass/members.scss */
#sung:hover .image {
  background: url('../images/members/current/sung-b.jpg?1481981573');
}

/* line 257, ../_sass/members.scss */
#ben .hidden {
  background: url('../images/members/current/ben-b.jpg?1481981573');
}
/* line 260, ../_sass/members.scss */
#ben .image {
  background: url('../images/members/current/ben.jpg?1481981573');
}
/* line 264, ../_sass/members.scss */
#ben:hover .image {
  background: url('../images/members/current/ben-b.jpg?1481981573');
}

/* line 273, ../_sass/members.scss */
#teddy .hidden {
  background: url('../images/members/current/teddy-b.jpg?1481981573');
}
/* line 276, ../_sass/members.scss */
#teddy .image {
  background: url('../images/members/current/teddy.jpg?1481981573');
}
/* line 280, ../_sass/members.scss */
#teddy:hover .image {
  background: url('../images/members/current/teddy-b.jpg?1481981573');
}

/* line 287, ../_sass/members.scss */
#jonah .hidden {
  background: url('../images/members/current/jonah-b.jpg?1481981573');
}
/* line 290, ../_sass/members.scss */
#jonah .image {
  background: url('../images/members/current/jonah.jpg?1481981573');
}
/* line 294, ../_sass/members.scss */
#jonah:hover .image {
  background: url('../images/members/current/jonah-b.jpg?1481981573');
}

/* line 301, ../_sass/members.scss */
#sam .hidden {
  background: url('../images/members/current/sam-b.jpg?1481981573');
}
/* line 304, ../_sass/members.scss */
#sam .image {
  background: url('../images/members/current/sam.jpg?1481981573');
}
/* line 308, ../_sass/members.scss */
#sam:hover .image {
  background: url('../images/members/current/sam-b.jpg?1481981573');
}

/* line 315, ../_sass/members.scss */
#john .hidden {
  background: url('../images/members/current/john-b.jpg?1481981573');
}
/* line 318, ../_sass/members.scss */
#john .image {
  background: url('../images/members/current/john.jpg?1481981573');
}
/* line 322, ../_sass/members.scss */
#john:hover .image {
  background: url('../images/members/current/john-b.jpg?1481981573');
}

/* line 329, ../_sass/members.scss */
#charlie .hidden {
  background: url('../images/members/current/charlie-b.jpg?1481981573');
}
/* line 332, ../_sass/members.scss */
#charlie .image {
  background: url('../images/members/current/charlie.jpg?1481981573');
}
/* line 336, ../_sass/members.scss */
#charlie:hover .image {
  background: url('../images/members/current/charlie-b.jpg?1481981573');
}
