<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>R20 - {{ page.title }}</title>

    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
        <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link href="/stylesheets/style.css" media="screen" rel="stylesheet"
          type="text/css" />
    {% if page.title == 'Members' %}
    <link href="/stylesheets/members.css" media="screen" rel="stylesheet"
          type="text/css" />
    {% endif %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"
            type="text/javascript"></script>
    <script src="/javascripts/jquery.cross-slide.min.js" type="text/javascript"
            charset="utf-8"></script>
    {% if page.title == 'Home' %}
    <script src="/javascripts/script.js" type="text/javascript"
            charset="utf-8"></script>
    {% endif %}
  </head>
  <body>
    <div class="container">
      <div id="header">
        <div id="logo">
          <a href="/">Princeton Roaring 20</a>
        </div>
        <div id="navbar">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/members">Members</a></li>
            <li><a href="/auditions">Auditions</a></li>
            <li><a href="/music">Music</a></li>
            <li><a href="/contact" class="last">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div id="main">
        {% if page.title == 'Home' %}
        <div id="slideshow" style="background-image: url({{ page.banner }})"></div>
        {% else %}
        <div id="banner" style="background-image: url({{ page.banner }})"></div>
        {% endif %}
        {{ content }}
      </div>
      <div id="footer">
        {{ permalink }}
        Copyright &copy; 2011 Dan Kang. All rights reserved.
      </div>
    </div>
  </body>
</html>
