---
layout: default
---

<div class="left">
  <div class="content">
    <h2>{{ page.fullname }}</h2>
    {% if page.office %}
    <h3>{{ page.office }}</h3>
    {% endif %}
    <table id="facts">
      <thead>
        <tr>
          <th colspan="2">Quick Facts</th>
        </tr>
      </thead>
      <tbody>
        {% if page.nickname %}
        <tr>
          <th>Nickname</th>
          <td>{{ page.nickname }}</td>
        </tr>
        {% endif %}
        <tr>
          <th>Class</th>
          <td>{{ page.class }}</td>
        </tr>
        <tr>
          <th>Voice part</th>
          <td>{{ page.voice }}</td>
        </tr>
        {% if page.arrangements %}
        <tr>
          <th>Arrangements</th>
          <td>{{ page.arrangements }}</td>
        </tr>
        {% endif %}
        {% if page.solos %}
        <tr>
          <th>Solos</th>
          <td>{{ page.solos }}</td>
        </tr>
        {% endif %}
        <tr>
          <th>Major</th>
          <td>{{ page.major }}</td>
        </tr>
        <tr>
          <th>Hometown</th>
          <td>{{ page.hometown }}</td>
        </tr>
        {% if page.activities %}
        <tr>
          <th>Other Activities</th>
          <td>{{ page.activities }}</td>
        </tr>
        {% endif %}
        {% if page.interests %}
        <tr>
          <th>Interests</th>
          <td>{{ page.interests }}</td>
        </tr>
        {% endif %}
        {% if page.memory %}
        <tr>
          <th>Favorite R20 Memory</th>
          <td>{{ page.memory }}</td>
        </tr>
        {% endif %}
        {% if page.fun-q1 %}
        <tr>
          <th>{{ page.fun-q1 }}</th>
          <td>{{ page.fun-a1 }}</td>
        </tr>
        {% endif %}
        {% if page.fun-q2 %}
        <tr>
          <th>{{ page.fun-q2 }}</th>
          <td>{{ page.fun-a2 }}</td>
        </tr>
        {% endif %}
        {% if page.fun-q3 %}
        <tr>
          <th>{{ page.fun-q3 }}</th>
          <td>{{ page.fun-a3 }}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
<div class="sidebar">
  <div class="bio">
    {{ content }}
  </div>
</div>
